{% extends "layout.html" %}

{% block context %}
    <h1>{{title}}</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="err_message">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form name="login" action="" method="post" novalidate>
        {{ form.hidden_tag()}}
        <p>
            {{ form.charName.label }}<br>
            {{ form.charName(size=35) }}
            {% for error in form.charName.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.charClass.label }}<br>
            {{ form.charClass(size=35) }}
            {% for error in form.charClass.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}