{% extends "layout.html" %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="err_message">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <p>tttt</p>

{% block context %}
    <h1>{{title}}</h1>

    <form name="login" action="" method="post">
        {{ form.hidden_tag()}}
        <p>
            {{ form.charName.label }}<br>
            {{ form.charName(size=35) }}
        </p>
        <p>
            {{ form.charClass.label }}<br>
            {{ form.charClass(size=35) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}