p {
    color: blue;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: inherit;
}

.active {
    background-color: lightgray;
    color: darkblue;
}